@import url('//fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900&display=swap');

body{
  background-color: #56a3c9;
}

#container{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 32px;
  width: 80%;
  max-width: 600px;
  margin: 3em auto;
  text-align: center;
  padding: 3em;
  border: 1px solid #236c8e;
  border-radius: .5ex;
  background-color: white;
}


#container h1{
  text-transform: lowercase;
  color: #236c8e;

}
#container p{
  color: #9F9C9C;
}
